<%- include("header") -%>
<h2> This Is About Page</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A odit minus, repellendus assumenda fugiat necessitatibus ullam. Est cupiditate animi dolor repellendus in maiores, alias adipisci incidunt et aliquid eum facilis.</p>
<%- include("footer") -%>